body {
  background-color: #efefef;
  padding-top: 20px; }

.col-form-label {
  text-align: right; }

.select2-selection--single {
  height: 38px !important; }

.toggle-handle {
  background-color: rgba(0, 0, 0, 0.2) !important; }

.form-left {
  max-height: 80vh !important;
  overflow-y: auto !important; }

.login-card {
  margin-top: 5% !important;
  max-width: 400px !important;
  margin: auto; }

.bar {
  display: block; }
  .bar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .bar ul li {
      display: inline-block; }
      .bar ul li a {
        display: block;
        padding: 6px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #efefef;
        text-decoration: none; }
        .bar ul li a:hover {
          background-color: #efefef; }

/*# sourceMappingURL=style.css.map */
